* {
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    border: 3px solid black;
}

header > div {
    padding: 15px 100px;
    background-color:rgb(85, 94, 83) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}


header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-weight: 400;
}
nav>a{
    font-size: 20px;
}

a {
    margin: 30px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

#logo {
    vertical-align: center;
    font-size: 65px;
    font-family: 'Brush Script MT', 'Dancing Script', cursive;
    font-weight: 700;
    color: black;
}


#main {
    height: 640px;
    width: 100%;
    background-image: url(/Images/m1.png);
    background-size:cover;
    background-repeat: no-repeat;
    border: 3px solid black;
    text-align: center;
}
#main>div>p{
    font-size: 120px;
    vertical-align: middle;
    background-color:rgba(85, 94, 83, 0.771) ;
    padding: 10px 30px;    
    border-radius: 10px;

}

#sp{
    height: 180px;
    width: 400px
}

#main>div{
    height: 180px;
}

#intro{
    background-color:rgb(85, 94, 83);
    height: 180px;
    vertical-align: middle;
    padding:5%;
    border: 3px solid black;
}

#space {
    height: 90px;
    padding:0;
}

#center{
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    background: rgb(105, 117, 101);
    border: 3px solid black;
    color:black;
    padding: 20px;
 }

 #hd1{
    font-size:30px;
 }

 p{
    font-size:16px;
 }

#button {
    margin: 20px;
    font-size: 18px;
    padding: 10px 30px;
    color: black;
    border-radius: 10px;
    background: rgb(60, 61, 55);
    border: 3px solid black;
}

body{
    background-image: url(/Images/pattern.jpg);
    background-repeat: repeat;
}

article {
    color: black;
    padding: 30px;
}

h2{
    text-align: center;
    font-size:40px;
}

h3{
    
    font-size:28px;
}

article > div {
    padding: 50px 100px;
    height: 100%;
    font-size: 16px;
    margin: auto;
    width: 600px;
    vertical-align: middle;
    background: rgb(105, 117, 101);
    border: 3px solid black;
}

footer>p{
    font-size: 21px;
}

footer {
    background-color: rgb(105, 117, 101);
    padding:10px;
    color: black;
    font-size: 21px;
    text-align: center;
    height: 35px;
    vertical-align:middle;
    border: 2px solid black;
}
