*{
    padding:0;
    margin:0;
}
header{
    position:fixed;
    width: 100%;
}
header>div{
    padding: 15px 100px;
    background-color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 15px 100px;

}
header>nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-weight: 400;
    text-decoration:none;
}
a{  
    margin:30px;
    font-size: 20px;
    text-decoration:none;
    color: white;
}

#main{
    height: 990px;
    width:100%;
    background-image: url(/Images/main.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
#space{
    height: 90px;
}
#button_space{
    height:600px;
}
#button{
    margin: 200px;
    font-size: 20px;
    padding: 10px 30px;
    color: black;
    border-radius: 10px;
    background:rgb(255,255,255,0.5);
    border: 3px solid black;
}
#plot{    
    color:white;
    padding: 30px;
    background-image: url(/Images/pattern.jpeg);

}
#plot>*{
    padding:50px 100px;
    height:100%;
    font-size: 17px;
    background-color:black;
    margin:auto;
    width:600px;
    vertical-align: middle;
}
.char{
    text-align: center;
    padding: 30px;
    background-image: url(/Images/pattern2.jpeg);
    color:white
}
.char>*{
    height: 600px;;
    padding: 50px 100px;
    display: inline-block;
    background-color:black;
    width:450px;
    font-size:20px;
    vertical-align: middle;
}
.space1{
    height:837px;
    width:100%;
    background-image: url(/Images/main2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    background-color: black;
    color:white;
    font-size: 20px;
    text-align: center;
    height: 35px;
    vertical-align: middle;
}

